@mixin colors() {
	--dark400: #2d3047;
	--green500: #19535f;
	--green400: #419d78;
	--green300: #a3e6b3;
	--yllw200: #d7c9aa;
	--yllw400: #f7c548;
	--red400: #7b2d26;
	--blue400: #437c90;
	--blue100: #eef4ff;
	--white400: #f7f9f7;
	--white100: #fff;
}
