.amount {
	&_label {
		opacity: 0.8;
		font-weight: 600;
		font-size: 1.2rem;
	}

	&_value {
		&_currency {
			font-size: 1.4rem;
			opacity: 0.5;
			padding-right: 6px;
		}
		&_spent {
			font-size: 2rem;
			font-weight: 800;
			font-variant: tabular-nums;
		}
	}
}
