.viewer {
	width: 720px;
	max-width: 90%;
	padding: 24px;
	border-radius: var(--rd);
	background: var(--white100);
	box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
	&_header {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 24px;
	}
}
